.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-left: 1px solid #1C1C21;
    border-right: 1px solid #1C1C21;
    padding: 0px 40px 0px 40px;
}

.nav__list {
    display: flex;
    position: relative;
    height: 120px;
    align-items: flex-end;
}

.header__logo {
    padding: 0px 46px 46px 0px;
}

.button__header {
    display: flex;
    align-self: center;
}

.header__nav-button {
    background: rgb(28, 28, 33);
    border: 1px solid #1c1c21;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    color: #fff;
    transition: background-color .4s ease-in-out;
}

.header__nav-button:hover {
    background: #545457;
}

.nav__item {
    background: #000;
    color: #fff;
    width: 150px;
    height: 87px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px 30px 45px;
    border: 1px solid #1c1c21;
}

.nav__item:first-child {
    background: #131316;
    color: #fff;
    width: 150px;
    height: 87px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px 30px 45px;
    border: 1px solid #1c1c21;
}

.nav__item:nth-child(2) {
    padding: 30px 35px 30px 40px;
    border: 1px solid #1c1c21;
}

.nav__item:first-child {
    padding: 30px 50px 30px 50px;
    border-radius: 10px 0px 0px 0px;
}

.nav__item:last-child {
    padding: 30px 60px 30px 40px;
    border-radius: 0px 10px 0px 0px;
}


.nav__line {
    border: 1px solid #1c1c21;
}












.top__inner {
    height: 319px;
}

.top__subtitle {
    position: relative;
}

.top__title-two {
    position: relative;
    top: 153px;
    left: 145px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

.top__box {
    display: flex;
    justify-content: space-between;
}

.top__img {}

.hero__inner {
    margin: 0px 0px 0px 0px;
}

.hero__img {
    max-width: 1310px;
}


