.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding: 0px 40px 0px 40px;
}

.nav__list {
    display: flex;
    position: relative;
    left: 65px;
    height: 120px;
    align-items: flex-end;
    
}

.header__logo {
    padding: 0px 46px 46px 0px;
}

.button__header {
    display: flex;
    align-self: center;
}

.header__nav-button {
    background: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    color: #fff;
    transition: background-color .4s ease-in-out;
}

.header__nav-button:hover {
    background: #545457;
}

.nav__item {
    background: #000;
    color: #fff;
    width: 150px;
    height: 87px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px 30px 45px;
    border: 1px solid var(--text-color);
}

.nav__item:first-child {
    background: #131316;
    color: #fff;
    width: 150px;
    height: 87px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px 30px 45px;
    border: 1px solid var(--text-color);
}

.nav__item:nth-child(2) {
    padding: 30px 35px 30px 40px;
    border: 1px solid var(--text-color);
}

.nav__item:first-child {
    padding: 30px 50px 30px 50px;
    border-radius: 10px 0px 0px 0px;
}

.nav__item:last-child {
    padding: 30px 60px 30px 40px;
    border-radius: 0px 10px 0px 0px;
}


.nav__line {
    border: 1px solid var(--text-color);
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 #000;
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.top__inner {
    height: 319px;
    margin: 0px 0px 350px 0px ;
}

.top__subtitle {
    position: relative;
}

.top__box {
    display: flex;
    justify-content: space-between;
}

.top__img {}

.hero__inner {
    margin: 0px 0px 0px 0px;
}

.hero__img {
    position: relative;
    bottom: 160px;
    max-width: 1310px;
}


@media screen and (max-width: 970px) {
    .nav {
        display: none;
    }

    .button__header {
        display: none;
    }

    .header__logo {
        position: relative;
        right: 40px;
        margin: 30px 0px 10px 0px;
        padding: 0px 0px 0px 20px;
    }
    
}