.body {
    font-family: "Georgia;", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.burger-icon {
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #505050;
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.price{
    font-family: 'Georgia';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0px 0px 20px 0px;
    color: #505050;
    }
    
    .price__sub{
    font-size: 40px;
    }

/* ----------------------======================================================= */

.header {
    background-image: url(../img/bg/girl-with-flowers.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.icon{
    width: 29px;
    height: 30px;
}

/* ======================================================================= */


.main__details {
}

.details-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}



.details__img img{
    width: 580px;
    height: 730px;
    border: 1px solid #505050;
    border-radius: 20px;
}

.details__title {
    color: rgb(80, 80, 80);
    font-family: Georgia;
    font-size: 96px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.details__text {
    width: 510px;
    height: 0px;
    color: rgb(80, 80, 80);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 143.01%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 0px 300px 0px;
}

.details__price {
}

.price {
}

.price__sub {
}

.details__buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.details__additional-service {
    margin: 10px 0px 0px 0px;
}

.additional-service-title{
    color: #505050;
    font-family: 'Georgia';
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 0px 14px 0px;
}

.input-checbox {
}

.buy__basket{
    padding: 14px 64px 14px 64px;
    border: 1px solid #505050;
    border-radius: 59px;
    text-align: center;
}

.buy__oneclick{
    padding: 14px 64px 14px 64px;
    border: 1px solid #505050;
    border-radius: 59px;
    text-align: center;
}

.input-checbox {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.input-checbox input {
    appearance: none;
    width: 27px;
    height: 27px;
    border: 1px solid #505050;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

.input-checbox input:checked {
    background-color: #000;
    border-color: #000;
}

.input-checbox input:checked::after {
    content: '✓';
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 8px;
}

.input-checbox span {
    color: #505050;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 143.01%;
    text-align: left;
}

/* ===================================================================================== */

.main__top-sellers {
}

.top__sellers-inner {
}

.top__sellers-head {
    display: flex;
    justify-content: space-between;
}

.top__sellers-title {
    font-family: Georgia;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 80px 0px 40px 0px;
    color: #505050;
}

.top__sellers-nav {
    display: flex;
    align-items: center;
    gap: 98px;
    font-size: 42px;
    line-height: 150%;
    position: relative;
    top: 30px;
    color: #fff;
    margin-bottom: 15px;
}



.top__sellres-prev,
.top__sellers-next {
    background: transparent;
    background-color: ;
    cursor: pointer;
    border: 1.5px solid #505050;
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.swiper-button-disabled.top__sellres-prev,
.swiper-button-disabled.top__sellers-next {
    border: 1.5px solid #505050;
    cursor: auto;
}

.swiper-button-disabled.top__sellres-prev path,
.swiper-button-disabled.top__sellers-next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.top__sellres-prev:hover,
.swiper-button-disabled.top__sellers-next:hover {
    background: #505050;
}

.swiper-button-disabled.top__sellres-prev:hover path,
.swiper-button-disabled.top__sellers-next:hover path {
    fill: #E1D9E1;
}

.top__sellres-prev path,
.top__sellers-next path {
    transition: all .4s;
}

.top__sellres-prev:hover,
.top__sellers-next:hover {
    background: #505050;
}

.top__sellres-prev:hover path,
.top__sellers-next:hover path {
    fill: #fff;
}

.top__sellers-pagination {
    display: flex;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}














.top__sellres-prev {

}

.top__sellers-pagination {
}

.top__sellers-next {
}

.top__sellers-cards {
    display: flex;
    justify-content: space-between;
}

.top__sellers-card {
    width: 380px;
    height: 684px;
    border: 1px solid #00000059;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.img__card{
    margin: 0px 0px 20px 0px;
}

.card__title{
    font-family: 'Georgia';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: #505050;
}

.price{
    font-family: 'Georgia';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0px 0px 20px 0px;
    color: #505050;
}

.price__sub{
    font-size: 40px;
}

.cards__button{
    border: 1px solid #505050;
    border-radius: 59px;
    color: #505050;
    padding: 14px 64px 14px 64px;
}

/* ======================================================================= */
.reviews__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-weight: 500;
}

.reviews__list-item{
    width: 380px;
    height: 211px;
    border-radius: 20px;
    background: #f5f5f5;
    padding: 20px 30px 20px 30px;
}

.reviews__client-info {
    display: flex;
}

.reviews__client-photo {
}

.reviews__client-name {
    position: relative;
    top: 10px;
    left: 15px;
    color: #505050;
    font-family: 'Georgia';
    font-size: 16px;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.reviews__stars {
    position: relative;
    top: 30px;
    right: 52px;
    width: 110px;
    height: 20px;
}

.reviews__text{
    margin: 20px 0px 0px 0px;
    color: #505050;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 143.01%;
    letter-spacing: 0%;
    text-align: left;
}



/* ================================================================================ */

.footer {
    margin: 90px 0px 0px 0px;
}

.footer__inner {
    margin: 0px 0px 61px 0px;
}

.footer__nav{
    display: flex;
}

.footer__logo{
    width: 120px;
    height: 89px;
}

.footer__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.footer__nav-item {
    color: #505050;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
}

.footer__icons-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.footer__icons-item {
}



.footer__forusers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright{
    color: #9c9c9c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}

.footer__policy {
}

.footer__policy-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.footer__privacy-item {
    color: #9c9c9c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}
