@font-face {
    font-family: 'Montserrat';
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
        url('../fonts/GeorgiaPro-Bold.woff2') format('woff2'),
        url('../fonts/GeorgiaPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}