@import "fonts.css";
@import "reset.css";
@import "main.css";

@import "footer.css";
@import "header.css";


:root {
    --general-bg: #070708;
}

p {
    color: #AFB0B6;
}

h6 {
    color: #fff;
}

.body {
    font-family: "Manrope", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.text__button {
    position: absolute;
    background-color: #4A2CED;
    color: #fff;
    width: 130px;
    height: 66px;
    padding: 22px 50px 20px 54px;
    border-radius: 100px;
    transition: background-color .4s ease-in-out;
}

.text__button:hover {
    background-color: #2c2ec4;
}

.nav__item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.line {
    border: 1px solid #1C1C21;
    margin: 50px 0px 50px 0px;
}

.button__head {
    position: relative;
    top: 20px;
    background: #1c1c21;
    border: 1px solid #1c1c21;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    color: #fff;
    transition: background-color .4s ease-in-out;
}

.button__head:hover {
    background: #545457;
}

.headers__title {
    color: #fff;
    font-weight: 600;
    font-size: 44px;
    line-height: 50px;
}

.h5__headers {
    color: #797C86;
}

.ribbon {
    color: #D7D0FB;
    border: 1px solid #1c1c21;
    background-color: #0E0E10;
    overflow: hidden;
    width: 1700px;
}

.ribbon__container{
    display: flex;
    align-items: center;
    width: 200%;
}

.ribbon__container div{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    animation: ribbon-text 15s linear infinite;
}

.ribbon__container p{
    padding: 0px 10px 0px 10px;
    color: #D7D0FB;
}

@keyframes ribbon-text {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-50%);
    }
}


/* ===================================================== */
.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #070708;
    border-radius: 20px;
    padding: 0 60px 60px;
    max-width: 428px;
    height: 400px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #1c1c21;
}

.modal__img {}

.modal__title {}

.modal__text {
    margin-bottom: 30px;
    text-align: center;
}

.modal__form-label {
    margin-bottom: 10px;
}

.modal__button {
    background: #1C1C21;
    border: 1px solid #131316;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.field__input {
    display: block;
    width: 100%;
    background: #1c1c21;
    border: 1px solid #131316;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: all .4s;
    color: #fff;
}

.field__input:hover {
    border-color: #1C1C21;
}

.field__input::placeholder {
    color: #fff;
    transition: all .4s;
}

.field__input:hover::placeholder {
    color: #fff;
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}